# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.astro/

# env & secrets
.env
.env.*
!.env.example

# logs
*.log
pnpm-debug.log*

# testing
coverage/

# OS / editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
